@using StudyOnline.Infrastructure
@model StudyOnline.Models.VideoInfo

<div class="studyNotice">
    <h3>请点击"开始学习"，开始播放视频并记录开始时间。</h3>
    <h3>还不想开始！请点击"取消"返回</h3>
</div>
<div id="resource_detail" style="display:none">
    @Html.HiddenFor(v=>v.Id)
    <h3><span class="video_title" data-title="@Model.Name">@Html.ShortenText(Model.Name,24)</span></h3>
    <div class="video_wrapper">
    <div id='mediaspace' style="border:2px solid blue;font-size:large">
        <div class="novideo_notice">
            :( 对不起，<br/>该视频不存在或已被删除！
        </div>
    </div>
    </div>
    <div id="video_info">
        <strong>视频信息:</strong>
        <div>@Model.Description</div>
        <strong>视频来源:</strong>
        <div>@Model.Origin</div>
    </div>
    <div>@Html.HiddenFor(v => v.Url, new { id="video_url"})</div>
</div>
<div style="text-align:center;">
    <input class="btn btn-primary" type="button" id="video_btn_start" value="开始学习" />
    <input class="btn btn-primary" type="button" id="video_btn_end" value="取消" />
</div>


<script type="text/javascript">
    
</script>
